# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  push:
    tags:
      - '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
      image: jsii/superchain

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Run the tests
      - name: Run the tests
        run: npm i && npm run build && npm run test -- -u

      # Runs a single command using the runners shell
      - name: Build and Package
        run: npm i && npm run build

      # Release to NPM
      # - name: Release NPM
      #   run: npx -p jsii-release jsii-release-npm
      #   env:
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
